.meet {
  background-color: $DJG;
  background-image: url("/images/backgroundImages/about>meet>bg.svg"), url("/images/backgroundImages/about>meet>bg-second.svg");
  background-repeat: no-repeat;
  background-position: left top, right calc(50% + 570px);
}

.meet__title {
  padding-top: 140px;
  margin-bottom: 48px;
}

.meet__title h2 {
  @include h2(white, center);
}

.meet__directors_list {
  @include dis_fle;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.meet__director {
  margin-left: 11px;
  margin-bottom: 48px;
  background-color: $SSG;
  max-width: 350px;
}

.meet__director_wrap {
  padding: 32px 24px 0 24px;
  width: 281px;
  @include dis_fle(center,center);

  flex-direction: column;
}

.meet__img {
  max-width: 96px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.meet__name {
  @include dis_fle(center,center);

  @include h3($RB);
}

.meet__job {
  @include dis_fle(center,center);

  padding-bottom: 28px;
  @include text_second(white,center);
}

.meet__btn {
  margin-bottom: -28px;
  font-size: 56px;
  @include dis_fle(center,center);
  color: $LC;
}
.meet__btn:hover{
  color:$RB;
}
.meet__link {
  margin-top: 12px;
  margin-bottom: 11px;
@include dis_fle;
}
.meet__link a{
  @include icon_link;
}
.meet__link a:hover{
  color: $LC;
}